<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cloud Computing Final Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css') }}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/themify-icons.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flexslider.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/myadd.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="/index">Cloud <em>2020</em></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1 main-nav">
						<ul>
							<li class="active"><a href="#" data-nav-section="home">Home</a></li>
							<li><a href="#" data-nav-section="services">Services</a></li>
							<li><a href="#" data-nav-section="portfolio">Portfolio</a></li>
							<li><a href="#" data-nav-section="blog">Blog</a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>

		<div class="js-fullheight" style="background-image: url({{home}}); background-repeat: no-repeat; 
				background-position: center;">
		</div>
		<div class="gtco-section-overflow">

			<div class="gtco-section" id="gtco-services" data-section="services">
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-6">
							<div class="gtco-heading">
								<h2 class="gtco-left">Services</h2>
								<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
									provident. Odit ab aliquam dolor eius.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row">

								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-paper-clip"></i>
										</span>
										<div class="feature-copy">
											<h3>Web Development</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-monitor"></i>
										</span>
										<div class="feature-copy">
											<h3>Web Design</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-toggle"></i>
										</span>
										<div class="feature-copy">
											<h3>Customer Support</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-layout"></i>
										</span>
										<div class="feature-copy">
											<h3>Web Design</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeIn">
							<div class="row">
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-pencil"></i>
										</span>
										<div class="feature-copy">
											<h3>Copy Writing</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-cog"></i>
										</span>
										<div class="feature-copy">
											<h3>CMS Development</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-layers"></i>
										</span>
										<div class="feature-copy">
											<h3>Data Gathering</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="feature-left">
										<span class="icon">
											<i class="icon-search"></i>
										</span>
										<div class="feature-copy">
											<h3>Search Engine</h3>
											<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia
												reprehenderit.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="gtco-section" id="gtco-portfolio" data-section="portfolio">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Portfolio</h2>
				</div>
			</div>
			<div class="container">
				<form class="search-form" id="search-form" action="/" method="POST">
					<input type="text" class="searchbox" name="image" />
				</form>

			</div>
			<div class="gtco-container">
				<div class="row">
					<h4 style="text-align: center;">{{predict}}</h4>
					<div class="js-fullheight" style="background-image: url({{img}}); background-repeat: no-repeat; 
									background-position: center;">
					</div>
				</div>
			</div>

			<br><br>
			<div class="gtco-section" id="gtco-faq" data-section="faq">
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
							<h2>Frequently Ask Questions</h2>
							<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
								provident. Odit ab aliquam dolor eius.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">

							<div class="gtco-accordion">
								<div class="gtco-accordion-heading">
									<div class="icon"><i class="icon-cross"></i></div>
									<h3>What is Asymmetry?</h3>
								</div>
								<div class="gtco-accordion-content">
									<div class="inner">
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
									</div>
								</div>
							</div>
							<div class="gtco-accordion">
								<div class="gtco-accordion-heading">
									<div class="icon"><i class="icon-cross"></i></div>
									<h3>I have technical problem, who do I email?</h3>
								</div>
								<div class="gtco-accordion-content">
									<div class="inner">
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
									</div>
								</div>
							</div>
							<div class="gtco-accordion">
								<div class="gtco-accordion-heading">
									<div class="icon"><i class="icon-cross"></i></div>
									<h3>How do I use Asymmetry features?</h3>
								</div>
								<div class="gtco-accordion-content">
									<div class="inner">
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-6">

							<div class="gtco-accordion">
								<div class="gtco-accordion-heading">
									<div class="icon"><i class="icon-cross"></i></div>
									<h3>What language are available?</h3>
								</div>
								<div class="gtco-accordion-content">
									<div class="inner">
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
									</div>
								</div>
							</div>
							<div class="gtco-accordion">
								<div class="gtco-accordion-heading">
									<div class="icon"><i class="icon-cross"></i></div>
									<h3>Can I have a username that is already taken?</h3>
								</div>
								<div class="gtco-accordion-content">
									<div class="inner">
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
									</div>
								</div>
							</div>
							<div class="gtco-accordion">
								<div class="gtco-accordion-heading">
									<div class="icon"><i class="icon-cross"></i></div>
									<h3>Is Asymmetry free?</h3>
								</div>
								<div class="gtco-accordion-content">
									<div class="inner">
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="gtco-blog" data-section="blog">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Blog</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
							provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<a href="#" class="gtco-card-item has-text">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="images/img_1.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="gtco-text text-left">
								<h2>25 Minimal Web Design for Inspiration</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							</div>
						</a>
					</div>

					<div class="col-md-4">
						<a href="#" class="gtco-card-item has-text">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="images/img_2.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="gtco-text text-left">
								<h2>25 Minimal Web Design for Inspiration</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							</div>
						</a>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4">
						<a href="#" class="gtco-card-item has-text">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="images/img_3.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="gtco-text text-left">
								<h2>25 Minimal Web Design for Inspiration</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							</div>
						</a>
					</div>
					<div class="clearfix visible-lg-block visible-md-block"></div>

					<div class="col-md-4">
						<a href="#" class="gtco-card-item has-text">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="images/img_4.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="gtco-text text-left">
								<h2>25 Minimal Web Design for Inspiration</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							</div>
						</a>
					</div>
					<div class="clearfix visible-sm-block"></div>

					<div class="col-md-4">
						<a href="#" class="gtco-card-item has-text">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="images/img_5.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="gtco-text text-left">
								<h2>25 Minimal Web Design for Inspiration</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							</div>
						</a>
					</div>

					<div class="col-md-4">
						<a href="#" class="gtco-card-item has-text">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="images/img_6.jpg" alt="Image" class="img-responsive">
							</figure>
							<div class="gtco-text text-left">
								<h2>25 Minimal Web Design for Inspiration</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							</div>
						</a>
					</div>
					<div class="clearfix visible-lg-block visible-md-block"></div>
					<div class="clearfix visible-sm-block"></div>

				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Carousel -->
	<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
	<!-- countTo -->
	<script src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{ url_for('static',filename='js/jquery.flexslider-min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/magnific-popup-options.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>

</html>